@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kanit:wght@300&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Kanit', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 69px;
    background-color: black;
    color: azure;
}

nav ul li {
    padding: 0 12px;
}

.brand img{
<<<<<<< HEAD
    width: 44px;
    padding: 0 8px;
=======
    width: 68px;
    padding: 0 10px;
>>>>>>> f20703b3000b15323247caaffee9ec82a6413d61
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:  1.5rem;
}

.container{
    min-height: 75vh;
    background-color: black;
    color: aliceblue;
    font-family: 'Caveat', cursive;
    margin: 23px auto;
    width: 90%;
    border-radius: 13px;
    padding: 33px;
}


.Bottom{
    position: sticky;
    height: 140px;
    background-color: black;
    color: aliceblue;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    flex-direction: column; 
=======
    flex-direction: column;
}
>>>>>>> f20703b3000b15323247caaffee9ec82a6413d61

.icons{
    margin-top: 14px;
}
.icons{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    
}
